@import "./variable.less";

.layout {
	padding: 0;
}

.view {
	padding: @layout-gap;
	height: calc(100% - @layout-gap * 2);
}

.flex {
	.flex();
	&-center {
		.flex.center();
	}
	&-start {
		.flex.start();
	}
	&-end {
		.flex.end();
	}
	&-between {
		.flex.between();
	}
	&-nowrap {
		.flex.nowrap();
	}
}

.customerNProgress {
	height: 20px;
	background: red;
}

.scrollY {
	overflow-y: auto;
	::-webkit-scrollbar {
		width: 4px;
		background: @color-shadow;
	}
}
