@import "./variable.less";

.layout {
	padding: 0;
}

.view {
	position: relative;
	padding: @layout-gap;
	margin: @layout-gap;
	min-height: @heightfull;
	max-height: @heightAuto;
	box-shadow: var(@box-shadow);
}

.FullScreen {
	height: 100vh !important;
	width: 100vw !important;
	padding: 0 !important;
	margin: 0 !important;
}

.flex {
	.flex();

	&-center {
		.flex.center();
	}

	&-start {
		.flex.start();
	}

	&-end {
		.flex.end();
	}

	&-between {
		.flex.between();
	}

	&-evenly {
		.flex.evenly();
	}

	&-nowrap {
		.flex.nowrap();
	}
}

.margin {
	margin: @layout-gap;

	&L {
		margin-left: @layout-gap;
	}

	&R {
		margin-right: @layout-gap ;
	}

	&T {
		margin-top: @layout-gap;
	}

	&B {
		margin-bottom: @layout-gap;
	}

	&TB {
		margin-top: @layout-gap;
		margin-bottom: @layout-gap;
	}
}

.card {
	padding: @layout-gap;
	border-radius: 4px;
	border: 1px solid #ebeef5;
	background-color: #fff;
	overflow: hidden;
	color: #303133;

	.header {
		padding: @layout-gap;
		border-bottom: 1px solid #dfdfdf;
	}
}

.scrollY {
	height: 100%;
	overflow-y: auto;

	::-webkit-scrollbar {
		width: 4px;
		background: @color-shadow;
	}
}

.hr {
	margin: @layout-gap auto;
	height: 1px;
	display: block;
	background: #dcdfe6;
}