@import "./variable.less";

html,
body {
	.noGap();
}

a {
	color: @color-light;
	text-decoration: none;

	&:hover {
		transition: @during-link;
		.color.link.hover();
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul {
	.noGap();

	dt,
	dd,
	li {
		list-style: none;
		.noGap();
	}
}

img {
	display: inline-block;
}

.el-Btn {
	width: calc(100% - 10px);
	margin-bottom: 10px !important;
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.el-Btn:nth-last-child(1) {
	margin: 0 !important;
}

.el-tabs__nav-wrap::after {
	z-index: 0 !important;
}